extend layout

block content
  .inner
    h2 Top #{stores.length} Stores
    table.table
      thead
        td(width=200) photo
        td ranking
        td name
        td reviews
        td Rating
      each store, i in stores
        tr
          td(width=200)
            a(href=`/store/${store.slug}`)
              img(src=`/uploads/${store.photo || 'store.png'}`, alt=store.name width=200)
          td #{i + 1}
          td: a(href=`/store/${store.slug}`)= store.name
          td= store.reviews.length
          td= `${Math.round(store.averageRating * 10) / 10} out of 5`
